.books-item__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // position: relative;
}

.books-item__image {
  width: 50%;
  margin-right: 128px;
  background-color: #dedede;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    object-fit: cover;

  }

  .books-item__favorite {
    position: absolute;
  }
}

.books-item__info {
  flex-grow: 1;
  border-top: 1px solid #E7E7E7;
  padding-top: 41px ;
  display: flex;
  flex-direction: column;
}


.books-item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  p {
    font-size: 40px;
    margin-bottom: 0px;
  }

  .books-detail__rating {
    font-size: 25px;
  }
}

.books-detail__details {
  padding-left: 0px ;
  font-size: 20px;
  margin-bottom: 16px;

  li {
    display: flex;
    justify-content: space-between;

    strong {
      color: #A8A8A8;
    }
  }
}

.books-detail__more-details {
  align-self: flex-start;
  margin-bottom: 59px;
}


.books-detail__add-to-cart {
  text-transform: uppercase;
  font-family: 'Bebas Neue';
  font-size: 24px;
  color: #FFFFFF;
  background-color: #313037;
  padding: 16px 0px;
  margin-bottom: 40px;
}

.books-detail__preview {
  font-size: 20px;
  text-align: center;
}
