.book-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 60px;

  .tab {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid black;
    }

    &.active {
      border-bottom: 1px solid black;
    }
  }
}
