.header__search {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative; /* Относительное позиционирование для родителя */
}

.header__search input {
  color: #A8A8A8;
  border: 1px solid #E7E7E7;
  font-weight: lighter;
  padding: 16px;
  width: 542px; /* Устанавливаем фиксированную ширину input */
  box-sizing: border-box; /* Учитываем padding и border в ширине */
}

.autocomplete {
  position: absolute;
  left: 0;
  top: 100%; /* Позиция сразу под input */
  width: 100%; /* Делаем ширину autocomplete такой же, как у родителя */
  background-color: #FFFFFF;
  border: 1px solid #E7E7E7;
  padding: 0;
  z-index: 100; /* Устанавливаем высокий z-index */
  max-height: 500px;
  height: auto;
  overflow: auto;
  box-sizing: border-box; /* Учитываем padding и border в ширине */
}

.autocomplete__item {
  display: flex;
  align-items: center; /* Выравниваем элементы по вертикали */
  padding: 20px;
  border: 1px solid #E7E7E7;
  color: #A8A8A8;
}

.autocomplete__item:hover {
  background-color: #E7E7E7;
  cursor: pointer;
}

.autocomplete__image{
  width: 80px;
  height: 60px;
  margin-right: 10px;
  background-color: #A8A8A8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocomplete__image img {

  height: 100%;
  object-fit: cover;
}

.autocomplete__item .title {
  flex: 1; /* Растягиваем элемент на всю доступную ширину */
}


.highlight {
  color: black;
}
