.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  border-bottom: 1px solid #E7E7E7;
  z-index: 1;
}

.header__logo {
  color: #313037;
  font-size: 24px;
  font-weight: bold;
}

.header__icons a {
  color: #313037;
  font-size: 20px;
  padding: 16px;
}
